* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


a {
    color: #fff;
    text-decoration: none;
}
body{
    background: #1f242d;
    /* color: #fff; */

}
.navebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}


.logo {
    font-size: 30px;
    font-weight: 700;
}

.navebar ul {
    display: flex;

}

.navebar ul li {
    list-style: none;
    margin-left: 35px;
    color: #fff;
    /* line-height: 100px; */

}

.navebar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.navebar ul li:hover,
.navebar.active {
    color: #7cf03d;
}

.Home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    gap: 200px;
    color: #fff;
    /* line-height: 30px; */
}

.Home-info h1 {
    font-size: 55px;
}

.Home-info h2 {
    font-size: 32px;
    margin-top: -10px;
}

.Home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.btn-sci {
    display: flex;
    align-items: center;

}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
}

.btn:hover {
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}

.home-info .btn-sci .sci {
    margin-left: 20px;
}

.icon {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
    transition: .5s;
}

.icon :hover {
    background: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03
    position: relative;
    width: 100%;
    height: 100%;
    /* background: slateblue; */
        background: #1f242d;
    border-radius: 50%;
    justify-content: center;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    position: absolute;
    margin-left: 10px;

    display: block;
    width: 85%;
    object-fit: cover;
}

.bars-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.bars-animation .bar {
    width: 100%;
    height: 100%;
    background: #1f242d;
    border: 2px solid red;
    transform: translateY(-100%);
    animation: show-bars .5s ease-in-out forward;
}

@keyframes show-bars {
    100% {
        transform: translateY(0%);
    }
}